@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*
{
    font-family: "Outfit", sans-serif;
}

body
{
    max-width: 700px;
    margin: auto;
}

img.imgenem
{
    max-width: 150px;
}

header
{
    color: #0762D9;
    margin: auto;
    max-width: 300px;
    text-align: center;
}

p.cabeca
{
    font-weight: bolder;
    font-size: 20px;
}

p.topic
{
    font-weight: bolder;
}

p.assuntos
{
    margin-left: 10px;
}

button.videosbt
{
    width: 220px;
    height: 100px;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}
button.videosbt:hover
{
   transform: scale(1.1);
    
}

main
{
    color: white;
    max-width: 90%;
    background-color: #0762D9;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

div.videos
{
    text-align: center;
}

button#adicao
{
    color: white;
    background-image: url(../images/adicao.png);
    background-position: center center;
    background-size: cover;
}

button#sub
{
    color: white;
    background-image: url(../images/sub.png);
    background-position: center center;
    background-size: cover;
}

button#mult
{
    color: white;
    background-image: url(../images/mult.png);
    background-position: center center;
    background-size: cover;
}

button#divi
{
    color: white;
    background-image: url(../images/divi.png);
    background-position: center center;
    background-size: cover;
}

button.opcoes
{
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    color: #0762D9;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}
button.opcoes:hover
{
    transform: scale(1.1);
    margin-left: 5px;
}

